.sidenav{
  border: 1px solid black;
  margin:0px;
  width: 14%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  border-radius:0px 0px 0px 0px;
  position: fixed;
}

.title{
  /* border: 1px solid black; */
  display: flex;
  position: relative;
  top: 10px;
  justify-content: center;
  align-items: center;
}

.logo {
   width: 30px;
}
.item-container{
    /* border:1px solid black; */
    position: relative;
    top: 20px;
}
.account{
    margin-left: 40px;
    margin-top: 20px;
}
.loi{
    /* border: 1px solid rgb(255, 0, 0); */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.logo2{
    width: 20px;
    /* border: 1px solid; */
    position: relative;
    right: 5px;
}
li{
    list-style-type: none;
    /* border: 1px solid black; */
}
.loi li{
    display: flex;
    padding: 5px;
    margin: 4px;
    margin-right: 20px;
    flex-direction: row;
    align-items: center;
}